# .gitignore for dotfiles
# user .gitignore is located at ~/.config/gitignore
*
!.bash_aliases
!.bash_completion
!.bashrc
!.bashrc.d
!.bashrc.d/*
!.complete_alias
.config/*
!.config/gitignore
!.dotfiles
!.gitattributes
!.gitconfig
!.gitignore
!.local
!.local/bin
!.local/bin/gh
!.local/bin/path
!.nanorc
!.npmrc
!.profile
!setup
!test-file
!.zshrc
!.zshrc.d
!.zshrc.d/*
!.zprofile
