[push]
	default = current
[core]
	excludesfile = ~/.config/gitignore
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
[include]
    path = ~/.local/etc/gitconfig
[includeIf "gitdir:~/Repositories/wheeler/"]
    path = ~/Repositories/wheeler/.gitconfig
[user]
	name = Wheeler Law
