*
!.bash_aliases
!.bash_completion
!.bashrc
!.bashrc.d
!.bashrc.d/*
!.complete_alias
.config/*
!.config/gitignore
!.dotfiles
!.gitattributes
!.gitconfig
!.gitignore
!.nanorc
!.npmrc
!.profile
!setup
!test-file
