# ~/.gitignore for dotfiles
# user .gitignore is located at ~/.config/git/ignore
*

!/.bash_aliases
!/.bash_completion
!/.bashrc
!/.bashrc.d
!/.bashrc.d/*

!/.complete_alias

!/.config
!/.config/git
!/.config/git/ignore

!/.dotfiles
!/.gitattributes
!/.gitconfig
!/.gitignore

!/bin
!/bin/gh
!/bin/path
!/bin/clone

!/.nanorc
!/.npmrc
!/.profile

!/Repositories
!/Repositories/github.com
!/Repositories/github.com/.gitconfig

!/setup

!/.zshrc
!/.zshrc.d
!/.zshrc.d/*
!/.zprofile
